$default-line-height: 1.6;
$main-font:"lato",sans-serif;

@mixin list-styles {
	font-size: 22px;
	list-style-image: url(../check.jpeg);
	list-style-position: outside;
	line-height: 1.7;
}
h1, h2, h3, ul, {
	font-family: $main-font;
	font-weight: 300;
}
h1 {
	font-size: 50px;
	line-height: $default-line-height;

}
h2 {
	font-size: 36px;
	line-height: $default-line-height;

}
h3 {
	font-size: 28px;
	line-height: $default-line-height;
}

ul {
	@include list-styles;
}
.container {
	width: 700px;
	margin: 0 auto;
}
.main-footer {
	font-family: $main-font;
	min-height: 50px;
	margin-top:30px;
	text-align: center;
}