@import 'reset';

$default-line-height: 1.6;
$main-font:"lato",sans-serif;
$header-font: "brush-script-std";
$color1: #b7283a;
$color2: #edcc5b;
$color3: #b5966a;
$color4: #d9ebed;
$color5: #cece76;


@mixin list-styles {
	font-size: 22px;
	
	list-style-type: square;
	line-height: 1.7;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, ul, {
	font-family: $main-font;
	font-weight: 300;
}
h1 {
	font-size: 50px;
	line-height: $default-line-height;

}
h2 {
	font-size: 36px;
	line-height: $default-line-height;

}
h3 {
	font-size: 28px;
	line-height: $default-line-height;
}

ul {
	@include list-styles;
}
.container {
	width: 1300px;
	margin: 0 auto;
}
.main-footer {
	font-family: $main-font;
	min-height: 50px;
	margin-top:30px;
	text-align: center;
}
.header {
	background: url('../img/logo.png');
	background-size: cover;
	height:700px;
}
nav {
	width: 70%;
	min-height: 200px;
	margin: 0 auto;
	padding-top: 400px;
	li {
	list-style: none;
	display: inline-block;
	margin-bottom: 30px;
	margin-right: 10px;
	color: black;
	font-family: $main-font;

	
	&:hover{
		font-size: 28px;
		color: gray;
	}
	
	
}
	a {
	text-decoration: none;
	color: black;
	border-radius: 5px;
	background-color: $color1;
	padding: 10px;
	margin-bottom: 10px;
	transition: all 500ms ease;

}
	a:hover {
	color: white;
	background-color: $color2;



}
}
button {
	width: 100px;
	height: 50px;
	background-color: white;
	border-radius: 5px;
	font-family: $header-font;
	font-size: 16px;
}
.to-top {
    position: fixed;
    top: 0%;
    right: 0%;
}
.page {
	width: 100%;
	height: 100%;
	min-height: 700px;
	
	ul {
		width:60%;
		margin: 0 auto;
		padding: 40px;
		margin-top: 30px;
		li {
			line-height: 2.0;
			position: relative;
			left:0;
			transition: left 500ms ease;

			&:hover {
				position:relative;
				left: 15px;
				
			}
			a {
				color: black;
				text-decoration: none;
				border-bottom: 1px dotted black;
			}
		}
		}

.box {
	// min-width: 200px;
	// min-height: 100px;
	background:white;
	
	h2 {
		font-size: 50px;
		font-family: $header-font;
		font-weight: 400;
		text-align: center;
		
	}

}
// Color Backgrounds

	

}
.page:nth-of-type(5n+1) {
	background-color: $color1;
}
.page:nth-of-type(5n+2) {
	background-color: $color2;
}.page:nth-of-type(5n+3) {
	background-color: $color3;
}.page:nth-of-type(5n+4) {
	background-color: $color4;
}.page:nth-of-type(5n+5) {
	background-color: $color5;
}


















